* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    color: #fff;
    background-image: url("../assets/home/background-home-desktop.jpg");
    height: 900px;
    width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}


/*---------------------------Start of Header styling--------------------------------------*/

.main-header {
    display: flex;
    align-items: center;
    gap: 150px;
    position: absolute;
    width: 1295px;
    height: 96px;
    top: 40px;
    left: 55px;
}

.header-line {
    position: absolute;
    width: 473px;
    height: 1px;
    background: #ffff;
    opacity: 0.25;
    top: 50px;
    left: 150px;
    mix-blend-mode: normal;
    z-index: 1;
}

.header-contents {
    position: absolute;
    width: 700px;
    height: 96px;
    left: 605px;
    top: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.header-contents>li {
    list-style: none;
    padding: 37px;
}

.header-contents>li:hover {
    border-bottom: 3px solid;
    cursor: pointer;
}

.header-contents li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}


/*---------------------------End of Header styling--------------------------------------*/


/*--------------------------start of main content styling--------------------------------------*/

.main-content {
    position: absolute;
    top: 382px;
    width: 500px;
    height: 320px;
    left: 165px;
}

.starting-text {
    font-family: 'Barlow Condensed';
    font-size: 25px;
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 400;
    color: #D0D6F9;
    letter-spacing: 4.725px;
}

.space-text {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    text-transform: uppercase;
    color: #FFF;
}

.content-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.explore-icon {
    position: absolute;
    width: 274px;
    height: 270px;
    left: 800px;
    top: 80px;
    background: #FFF;
    color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    border-radius: 65%;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
}


/*---------------------------End of main content styling--------------------------------------*/


/*-----------------Media queries----------------------------*/

@media (max-width:767px) {
    body {
        background-image: url("/assets/home/background-home-mobile.jpg");
        width: 100vw;
    }
    .main-header {
        display: flex;
        justify-content: space-between;
    }
    .header-line {
        display: none;
    }
    .header-contents {
        position: fixed;
        top: 0;
        left: 0;
        border: 20px solid yellow;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:767px) {
    .header-toggle {
        display: none;
    }
}