* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
     :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
     :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}


/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white));
    background-color: hsl( var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}


/*---------------------------Start of Header styling--------------------------------------*/


/*---------------------------End of Header styling--------------------------------------*/


/*--------------------------start of main content styling--------------------------------------*/

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 60rem)) minmax(2rem, 1fr);
    column-gap: 4rem;
    place-items: center;
}

.grid-container>*:first-child {
    grid-column: 2;
    outline: 2px sol;
}

.grid-container>*:last-child {
    grid-column: 3;
}

@media(min-width:767px) {
    .grid-container {
        text-align: left;
        padding: 0 2.5rem 0 2.5rem;
    }
    .grid-home {
        padding-bottom: 6rem;
        align-items: end;
    }
}

.starting-text {
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
}

.space-text {
    font-size: 9.375rem;
    text-transform: uppercase;
    font-family: 'Bellefair';
}

.content-text {
    font-size: 1.125rem;
    color: #D0D6F9;
    font-family: 'Barlow';
    font-weight: 400;
}

.explore-icon-tag {
    height: 280px;
    width: 280px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 1s;
}

.explore-icon:hover {
    box-shadow: 0 0 0 50px rgb(255, 255, 255, 0.2);
    cursor: pointer;
}

.explore-icon {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Bellefair';
    color: #0B0D17;
    font-weight: 400;
    letter-spacing: .333rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}


/*---------------------------End of main content styling--------------------------------------*/


/*---------------------*/


/* Page specific */


/*---------------------*/


/*home*/


/*
.home {
    background: url('/assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

@media(min-width:35rem) {
    .home {
        background: url('/assets/home/background-home-tablet.jpg');
        background-size: cover;
        background-position: center center;
    }
}

@media(min-width:45rem) {
    .home {
        background: url('/assets/home/background-home-desktop.jpg');
        background-size: cover;
        background-position: bottom center;
    }
}