* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
     :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
     :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}

body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white));
    background-color: hsl( var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}


/*---------------------------Start of Header styling--------------------------------------*/


/*---------------------------End of Header styling--------------------------------------*/


/*--------------------------start of main content styling--------------------------------------*/

.main-container {
    display: grid;
    border: 1px solid;
    text-align: center;
    place-items: center;
    padding-inline: 2rem;
}

@media(min-width:767px) {
    .main-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        text-align: left;
        padding: 0 2.5rem 0 2.5rem;
    }
    .main-container> :first-child {
        border: 4px solid brown;
    }
    .main-container>:last-child {
        border: 4px solid blue;
        display: flex;
        justify-content: center;
    }
}

.starting-text {
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
}

.space-text {
    font-size: 9.375rem;
    text-transform: uppercase;
    font-family: 'Bellefair';
}

.content-text {
    font-size: 1.125rem;
    color: #D0D6F9;
    font-family: 'Barlow';
    font-weight: 400;
}

.explore-icon {
    height: 280px;
    width: 280px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 1s;
}

.explore-icon:hover {
    box-shadow: 0 0 0 50px rgb(255, 255, 255, 0.2);
    cursor: pointer;
}

.explore-icon>a {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Bellefair';
    color: #0B0D17;
    font-weight: 400;
    letter-spacing: .333rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}


/*---------------------------End of main content styling--------------------------------------*/


/*-----------------Media queries----------------------------*/