* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/technology/background-technology-desktop.jpg');
    width: 1440px;
    height: 1200px;
    background-size: cover;
}

.header-text {
    position: absolute;
    left: 166.5px;
    top: 212px;
    display: flex;
    gap: 40px;
    font-size: 32px;
    font-family: 'Barlow Condensed';
    font-weight: 300;
}

.header-text-1 {
    color: rgb(255, 255, 255, 0.3);
    font-family: 'Barlow Condensed';
    font-weight: 700;
}

.header-text-2 {
    text-transform: uppercase;
}

.main-container-content {
    position: absolute;
    top: 400px;
    left: 100px;
    width: 1250px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.main-content-text {
    height: 400px;
    padding: 20px;
}

.main-container-content-links {
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container-content-links>li {
    background: rgba(255, 255, 255, 0.04);
    width: 80px;
    height: 80px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
    border: 1px solid;
    border-radius: 50%;
}

.main-container-content-links li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.main-container-content-links>li:hover {
    background: #ffffff;
    cursor: pointer;
}

.main-container-content-links li a:hover {
    color: #000000;
}

.main-content-starting-text {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    text-transform: uppercase;
}

.vehicle-text {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 20px 0 20px 0;
}

.main-content-main-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
}

.main-content-img {
    position: relative;
    top: -100px;
    mix-blend-mode: normal;
}